<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>选课列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/css/demo.css}">
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/js/validateExtends.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        $(function() {
            $('#dataList').datagrid({
                title:'考勤列表',
                iconCls:'icon-more',
                border: true,
                collapsible: false,
                fit: true,
                method: "post",
                url: "/attendance/getAttendanceList",
                idField:'id',
                singleSelect: false,
                pagination: true,
                rownumbers: true,
                sortName:'id',
                sortOrder:'DESC',
                remoteSort: false,
                columns: [
                [
                    {field:'chk',checkbox: true,width:50},
                    {field:'id',title:'ID',width:50, sortable: true},
                    {field:'studentId',title:'学号',width:100,
                        formatter: function(value,row,index){
                            if (row.studentId){
                                let studentList = $("#studentList").combobox("getData");
                                for(let i=0;i<studentList.length;i++ ){
                                    if(row.studentId === studentList[i].id) {
                                        return studentList[i].username;
                                    }
                                }
                                return row.studentId;
                            } else {
                                return 'not found';
                            }
                        }
                    },
                    {field:'nickName',title:'学生',width:100,
                        formatter: function(value,row,index){
                            if (row.studentId){
                                let studentList = $("#studentList").combobox("getData");
                                for(let i=0;i<studentList.length;i++ ){
                                    if(row.studentId === studentList[i].id) {
                                        return studentList[i].nickName;
                                    }
                                }
                                return row.studentId;
                            } else {
                                return 'not found';
                            }
                        }
                    },
                    {field:'courseId',title:'课程',width:200,
                        formatter: function(value,row,index){
                            if (row.courseId){
                                let courseList = $("#courseList").combobox("getData");
                                for(let i=0;i<courseList.length;i++ ){
                                    if(row.courseId === courseList[i].id) {
                                        return courseList[i].name;
                                    }
                                }
                                return row.courseId;
                            } else {
                                return 'not found';
                            }
                        }
                    },
                    {field:'courseDate',title:'上课日期',width:200, sortable: false},
                    {field:'courseWeak',title:'上课星期',width:200, sortable: false},
                    {field:'type',title:'签到类型',width:200, sortable: false},
                    {field:'date',title:'签到日期',width:200, sortable: false}
                ]
                ],
                toolbar: "#toolbar",
                onBeforeLoad : function(){
                    preLoadClazz();
                    $("#studentList").combobox("getData");
                    $("#courseList").combobox("getData");
                }
            });

            // 提前加载学生和课程信息
            function preLoadClazz(){
                $("#studentList").combobox({
                    width: "200",
                    height: "30",
                    valueField: "id",
                    textField: "username",
                    multiple: false, //可多选
                    editable: false, //不可编辑
                    method: "post",
                    url: "/student/list?form=combox",

                });
                $("#courseList").combobox({
                    width: "200",
                    height: "30",
                    valueField: "id",
                    textField: "name",
                    multiple: false,
                    editable: false,
                    method: "post",
                    url: "/course/getCourseList?from=combox",
                });
            }

            // 设置分页控件
            let p = $('#dataList').datagrid('getPager');
            $(p).pagination({
                pageSize: 10,
                pageList: [10,20,30,50,100],
                beforePageText: '第',
                afterPageText: '页    共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            });

            // 设置工具类按钮
            $("#add").click(function(){
                $("#addDialog").dialog("open");
            });

            // 补签
            $("#edit").click(function(){
                let selectRow = $("#dataList").datagrid("getSelected");
                console.log(selectRow);
                if(selectRow == null){
                    $.messager.alert("消息提醒", "请选择数据进行补签!", "warning");
                } else{
                    let id = selectRow.id;
                    $.messager.confirm("消息提醒", "若签到类型为补签，可能会出现错误，确认继续？", function(r){
                        if(r){
                            $.ajax({
                                type: "post",
                                url: "/attendance/reissue",
                                data: {id: id},
                                success: function(data){
                                    if(data.success){
                                        $.messager.alert("消息提醒",data.message,"info");
                                        // 刷新表格
                                        $("#dataList").datagrid("reload");
                                    } else{
                                        $.messager.alert("消息提醒",data.message,"warning");
                                    }
                                }
                        });
                        }
                    });
                }
            });

            // 设置添加窗口
            $("#addDialog").dialog({
                title: "添加考勤",
                width: 450,
                height: 300,
                iconCls: "icon-add",
                modal: true,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                draggable: true,
                closed: true,
                buttons: [
                    {
                        text:'添加',
                        plain: true,
                        iconCls:'icon-book-add',
                        handler:function(){
                            let validate = $("#addForm").form("validate");
                            if(!validate){
                                $.messager.alert("消息提醒","请检查你输入的数据!","warning");
                            } else{
                                $.ajax({
                                    type: "post",
                                    url: "/attendance/addAttendance",
                                data: $("#addForm").serialize(),
                                    success: function(data){
                                    if(data.success){
                                        $.messager.alert("消息提醒",data.message,"info");
                                        // 关闭窗口
                                        $("#addDialog").dialog("close");

                                        // 清空原表格数据
                                        $("#add_name").textbox('setValue', "");

                                        // 刷新
                                        $('#dataList').datagrid("reload");
                                    }else{
                                        $.messager.alert("消息提醒",data.message,"warning");
                                    }
                                }
                            });
                            }
                        }
                    },
                    {
                        text:'重置',
                        plain: true,
                        iconCls:'icon-book-reset',
                        handler:function(){
                            $("#add_name").textbox('setValue', "");
                        }
                    },
                ]
            });

            // 下拉框通用属性
            $("#add_courseList,#courseList,#edit_courseList,#add_typeList").combobox({
                width: "200",
                height: "30",
                valueField: "id",
                textField: "name",
                multiple: false,
                editable: false,
                method: "post",
            });

            $("#add_studentList,#edit_studentList,#studentList").combobox({
                width: "200",
                height: "30",
                valueField: "id",
                textField: "username",
                multiple: false, //不可多选
                editable: false, //不可编辑
                method: "post",
            });

            // 添加学生选择框
            $("#add_studentList").combobox({
                url: "/student/list?form=combox",
                onLoadSuccess: function(){
                    //默认选择第一条数据
                    let data = $(this).combobox("getData");
                    $(this).combobox("setValue", data[0].id);
                    getStudentSelectedCourseList(data[0].id);
                },
                onChange:function(id,o){
                    getStudentSelectedCourseList(id);
                }
            });

            $("#edit_studentList").combobox({
                url: "/student/list?form=combox",
                onLoadSuccess: function(){
                    // 默认选择第一条数据
                    let data = $(this).combobox("getData");
                    $(this).combobox("setValue", data[0].id);
                }

            });

            // 修改课程选择框
            $("#edit_courseList").combobox({
                url: "/course/getCourseList?from=combox",
                onLoadSuccess: function(){
                    // 默认选择第一条数据
                    let data = $(this).combobox("getData");
                    console.log("添加课程信息："+data);
                    $(this).combobox("setValue", data[0].id);
                }

            });

            // 学生选课列表
            function getStudentSelectedCourseList(sid){
                // 添加课程选择框
                console.log("sid:", sid);
                //考勤表下面的方法
                let u = "getStudentSelectedCourseList";
                $("#add_courseList").combobox({
                    url:u+"?studentId="+sid,
                    onLoadSuccess: function(){
                        // 默认选择第一条数据
                        let data = $(this).combobox("getData");
                        console.log("getData:", data);
                        $(this).combobox("setValue", data[0].id);
                    }
                });
            }

            //删除
            $("#delete").click(function(){
                let selectRow = $("#dataList").datagrid("getSelected");
                if(selectRow == null){
                    $.messager.alert("消息提醒", "请选择数据进行删除!", "warning");
                } else{
                    //封装json格式的数据
                    let jsonObj = {};
                    $.each(selectRow,function(i,n){
                        jsonObj["ids["+i+"]"] = n.id;
                    });
                    $.messager.confirm("消息提醒", "确认删除吗，确认继续？", function(r){
                        if(r){
                            $.ajax({
                                type: "post",
                                url: "/attendance/deleteAttendance",
                                data: jsonObj,
                                success: function(data){
                                    if(data.success){
                                        $.messager.alert("消息提醒",data.message,"info");
                                        //刷新表格
                                        $("#dataList").datagrid("reload");
                                    } else{
                                        $.messager.alert("消息提醒",data.message,"warning");
                                        return;
                                    }
                                }
                            });
                        }
                    });
                }
            });

            $("#update").click(function () {
                let table = $("#updteTable");
                let selectRows = $("#dataList").datagrid("getSelections");
                if (selectRows.length !== 1) {
                    $.messager.alert("消息提醒", "请选择一条数据进行操作!", "warning");
                } else {
                    $("#editDialog").dialog("open");
                }
            });

            // 编辑考勤信息
            $("#editDialog").dialog({
                title: "修改考勤信息",
                width: 450,
                height: 400,
                iconCls: "icon-edit",
                modal: true,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                draggable: true,
                closed: true,
                buttons: [
                    {
                        text: '提交',
                        plain: true,
                        iconCls: 'icon-user_add',
                        handler: function () {
                            let validate = $("#editForm").form("validate");
                            if (!validate) {
                                $.messager.alert("消息提醒", "请检查你输入的数据!", "warning");
                            } else {
                                let studentId = $("#edit_studentList").combobox("getValue");
                                let id = $("#dataList").datagrid("getSelected").id;
                                let courseId = $("#edit_courseList").combobox("getValue");
                                let courseWeak = $("#edit_weakday option:selected").text()
                                let courseDate = $("#edit_courseDate").datebox("getValue");
                                let type = $("#edit_type option:selected").text();
                                let data = {
                                    id: id,
                                    studentId: studentId,
                                    courseId: courseId,
                                    courseWeak: courseWeak,
                                    courseDate: courseDate,
                                    type: type
                                };

                                $.ajax({
                                    type: "post",
                                    url: "/attendance/updateAttendance",
                                    data: data,
                                    success: function (data) {
                                        if (data.success) {
                                            $.messager.alert("消息提醒", data.message, "info");

                                            //关闭窗口
                                            $("#editDialog").dialog("close");

                                            //清空原表格数据
                                            $("#edit_studentList").combobox('setValue', "");
                                            $("#edit_courseList").combobox('setValue', "");
                                            $("#edit_courseDate").datebox('setValue', "");
                                            $("#edit_type").attr('value', "");
                                            $("#edit_weakday").attr('value',"");

                                            //重新刷新页面数据
                                            $('#dataList').datagrid("reload");
                                            $('#dataList').datagrid("uncheckAll");
                                        } else {
                                            $.messager.alert("消息提醒", data.message, "warning");
                                        }
                                    }
                                });
                            }
                        }
                    },
                    {
                        text: '重置',
                        plain: true,
                        iconCls: 'icon-reload',
                        handler: function () {
                            $("#edit_name").textbox('setValue', "");
                            $("#edit_phone").textbox('setValue', "");
                        }
                    },
                ],
                onBeforeOpen: function () {
                    let selectRow = $("#dataList").datagrid("getSelected");
                    // 设置值
                    $("#edit_courseDate").datebox('setValue',selectRow.courseDate);
                    $("#edit_type").attr('value', selectRow.type);
                    $("#edit_weakday").attr('value',selectRow.courseWeak);
                    $("#edit-id").val(selectRow.id);

                    setTimeout(function(){
                        $("#edit_studentList").combobox('setValue', selectRow.studentId);
                    }, 100);
                    setTimeout(function(){
                        $("#edit_courseList").combobox('setValue', selectRow.courseId);
                    }, 100);

                },
                onClose: function () {
                    $("#edit_studentList").combobox('setValue', "");
                    $("#edit_courseList").combobox('setValue', "");
                    $("#edit_courseDate").datebox('setValue', "");
                    $("#edit_type").attr('value', "");
                    $("#edit_weakday").attr('value',"");
                }
            });

            //搜索按钮监听事件
            $("#search-btn").click(function(){
                $('#dataList').datagrid('load',{
                    studentId: $("#studentList").combobox('getValue') === '' ? 0 : $("#studentList").combobox('getValue'),
                    courseId: $("#courseList").combobox('getValue') === '' ? 0 : $("#courseList").combobox('getValue'),
                    type: $("#typeList").val() === '' ? '' : $("#typeList").val(),
                    courseDate:$("#date").datebox('getValue') === '' ? '' : $("#date").datebox('getValue')
                });
            });
        });
    </script>
</head>
<body>
<!-- 数据列表 -->
<table id="dataList" cellspacing="0" cellpadding="0"></table>

<!-- 工具栏 -->
<div id="toolbar">
    <div style="float: left;"><a id="add" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">签到</a></div>
    <div style="float: left;" class="datagrid-btn-separator"></div>
    <div th:if="${session.loginUser.userType == '3'}" style="float: left; margin-right: 10px;">
        <a id="edit" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-some-delete',plain:true">补签</a>
    </div>
    <div style="float: left;" class="datagrid-btn-separator"></div>
    <div th:if="${session.loginUser.userType == '3'}" style="float: left;">
        <a id="update" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>
    </div>
    <div style="float: left;" class="datagrid-btn-separator"></div>
    <div th:if="${session.loginUser.userType == '3'}" style="float: left; margin-right: 10px;">
        <a id="delete" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-some-delete',plain:true">删除</a>
    </div>
    <div style="float: left;" class="datagrid-btn-separator"></div>
    <div style="margin-top: 3px;">
        学生：<input id="studentList" class="easyui-textbox" name="studentId" style="width: 100px; height: 30px" />
        课程：<input id="courseList" class="easyui-textbox" name="courseId" />
        类型：<input id="typeList" class="easyui-textbox" name="type" style="width:200px;height:30px"/>
        时间：<input id="date" class="easyui-datebox" name="courseDate" style="width:200px;height:30px" />
        <a id="search-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>
        <a id="clear-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">清空搜索</a>
    </div>
</div>

<!-- 添加数据窗口 -->
<div id="addDialog" style="padding: 10px">
    <form id="addForm" method="post">
        <table cellpadding="8" >
            <tr>
                <td style="width:40px">学生:</td>
                <td colspan="3">
                    <input id="add_studentList" style="width: 200px; height: 30px;" class="easyui-textbox" name="studentId" data-options="required:true, missingMessage:'请选择学生'" />
                </td>
                <td style="width:80px"></td>
            </tr>
            <tr>
                <td style="width:40px">课程:</td>
                <td colspan="3">
                    <input id="add_courseList" style="width: 200px; height: 30px;" class="easyui-textbox" name="courseId" data-options="required:true, missingMessage:'请选择课程'" />
                </td>
                <td style="width:80px"></td>
            </tr>
            <tr>
                <td style="width:80px">
                    上课日期：
                </td>
                <td>
                    <input class="easyui-datebox" name="courseDate" style="width:200px;height:30px;border-color: #9dc7e7" />
                </td>
            </tr>
            <tr>
                <td>上课星期：</td>
                <td>
                    <select id="add_weakday" name="courseWeak" style="width:200px;height:30px;border-color: #9dc7e7;border-radius: 5px;">
                        <option selected></option>
                        <option>星期一</option>
                        <option>星期二</option>
                        <option>星期三</option>
                        <option>星期四</option>
                        <option>星期五</option>
                        <option>星期六</option>
                        <option>星期天</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- 修改数据窗口 -->
<div id="editDialog" style="padding: 10px">
    <form id="editForm" method="post">
        <table cellpadding="8" >
            <tr>
                <td style="width:40px">学生:</td>
                <td colspan="3">
                    <input id="edit_studentList" style="width: 200px; height: 30px;" class="easyui-textbox" name="studentId" data-options="required:true, missingMessage:'请选择学生'" />
                </td>
                <td style="width:80px"></td>
            </tr>
            <tr>
                <td style="width:40px">课程:</td>
                <td colspan="3">
                    <input id="edit_courseList" style="width: 200px; height: 30px;" class="easyui-textbox" name="courseId" data-options="required:true, missingMessage:'请选择课程'" />
                </td>
                <td style="width:80px"></td>
            </tr>
            <tr>
                <td style="width:80px">
                    上课日期：
                </td>
                <td>
                    <input id="edit_courseDate" class="easyui-datebox" name="courseDate" style="width:200px;height:30px;border-color: #9dc7e7" />
                </td>
            </tr>
            <tr>
                <td>签到类型：</td>
                <td>
                    <select id="edit_type" name="type" style="width:200px;height:30px;border-color: #9dc7e7;border-radius: 5px;">
                        <option selected></option>
                        <option>正常</option>
                        <option>迟到</option>
                        <option>补签</option>
                        <option>未签到</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>上课星期：</td>
                <td>
                    <select id="edit_weakday" name="courseWeak" style="width:200px;height:30px;border-color: #9dc7e7;border-radius: 5px;">
                        <option selected></option>
                        <option>星期一</option>
                        <option>星期二</option>
                        <option>星期三</option>
                        <option>星期四</option>
                        <option>星期五</option>
                        <option>星期六</option>
                        <option>星期天</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>