<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingfeng.mapper.UserMapper">

    <resultMap type="com.qingfeng.entity.User" id="UserInfo">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="class_id" property="classId"/>
        <result column="sex" property="sex"/>
        <result column="mobile" property="mobile"/>
        <result column="create_date" property="createDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="queryList" resultMap="UserInfo">
        SELECT *
        from s_user
        where is_deleted = 0
        <if test="username != null">
            and username like concat("%",#{username},"%")
        </if>
        <if test="classId != null">
            and class_id like concat("%",#{classId},"%")
        </if>
        <if test="studentId != null">
            and id = #{studentId}
        </if>
        limit #{startIndex}, #{pagesize}
    </select>

    <select id="queryStuCount" resultType="int">
        select count(*) from s_user
        where is_deleted = 0
        and user_type = 2
        <if test="username != null">
            and username like concat("%",#{username},"%")
        </if>
        <if test="classId != null">
            and class_id like concat("%",#{classId},"%")
        </if>
        <if test="studentId != null">
            and id = #{studentId}
        </if>
    </select>

    <select id="queryTenCount" resultType="int">
        select count(*) from s_user
        where is_deleted = 0
        and user_type = 3
        <if test="username != null">
            and username like concat("%",#{username},"%")
        </if>
        <if test="classId != null">
            and class_id like concat("%",#{classId},"%")
        </if>
        <if test="teacherId != null">
            and id = #{teacherId}
        </if>
    </select>

    <!-- 注意：学生列表只查询学生类型 -->
    <select id="getStudentList" resultType="com.qingfeng.entity.User">
        SELECT *
        from s_user
        where is_deleted = 0
        and user_type = 2
        <if test="username != null">
            and username like concat("%",#{username},"%")
        </if>
        <if test="classId != null">
            and class_id like concat("%",#{classId},"%")
        </if>
        <if test="studentId != null">
            and id = #{studentId}
        </if>
        limit #{startIndex}, #{pagesize}
    </select>

    <!-- 查询教师下的学生列表 -->
    <select id="getStudentListByTeacherId" resultType="com.qingfeng.entity.User">
        select DISTINCT su.*
        from s_user su
                 INNER JOIN s_selected_course ssc on su.id = ssc.student_id and ssc.teacher_id = #{teacherId}
        <if test="username != null">
            and username like concat("%",#{username},"%")
        </if>
        <if test="classId != null">
            and class_id like concat("%",#{classId},"%")
        </if>
        <if test="studentId != null">
            and id = #{studentId}
        </if>
        limit #{startIndex}, #{pagesize}
    </select>

    <select id="getTeacherList" resultType="com.qingfeng.entity.User">
        SELECT *
        from s_user
        where is_deleted = 0
        and user_type = 3
        <if test="username != null">
            and username like concat("%",#{username},"%")
        </if>
        <if test="classId != null">
            and class_id like concat("%",#{classId},"%")
        </if>
        <if test="teacherId != null">
            and id = #{teacherId}
        </if>
        limit #{startIndex}, #{pagesize}
    </select>

    <!-- 老师下查询学生的信息总数 -->
    <select id="queryStuCountByTeacherId"  resultType="java.lang.Integer">
        select DISTINCT count(*)
        from s_user su
        INNER JOIN s_selected_course ssc on su.id = ssc.student_id and ssc.teacher_id = #{teacherId}
        <if test="username != null">
            and username like concat("%",#{username},"%")
        </if>
        <if test="classId != null">
            and class_id like concat("%",#{classId},"%")
        </if>
        <if test="studentId != null">
            and id = #{studentId}
        </if>
        limit #{startIndex}, #{pagesize}
    </select>

</mapper>